*{
  padding:0;
  margin:0;
}
.App {
  text-align: center;
  
}
/****header****/
.nav{
  background-color: black;
  color: white;
}
a.my-nav{
  font-weight: 700;
  text-decoration: underline;
  color: #161616;
}
header {
  background-color: #FFF7ED;
  min-height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom: none;
}
.homeLink{
  color: black;
  text-decoration: none;
  margin-left: 26px;
  font-size: 26px;
  font-weight: 900;
}
.home-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-right: 26px;

}
.aboutLink{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.vansLink{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
header a:hover {
  color: #161616;
  text-decoration: underline;
}
/****footer****/
.foot{
  background-color: #252525;
  height: 75px;
  font-size: calc(10px + 2vmin);
  color: #AAAAAA;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  background-size: cover;
}
.foot > h1{
  margin: 0;
  padding: 0;
}
/****home****/
.home{
  background-image: url("/public/homepage.png");
  background-size: cover;
  height: 100vh;
  margin: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.home > h1{
  font-size: 36px;
  padding-top: 65px;
  font-weight: 700;
  margin-bottom: 22px;
  
}
.home > p{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 51px;
}

.find-btn{
  text-decoration: none;
  text-align: center;
  background-color: #FF8C38;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px 0px;
  margin: 0px 26px;
  
}
.find-btn:hover {
  transform: translate(1px, 1px);
}

/****about****/
.about-img{
  background-size: cover;
  height: 233px;
  margin: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about > img{
  width: 100%;
  height: 100%;
}
.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
  text-align: left;
  margin-top: 48px;
}
.about{
  background-color: #FFF7ED;
}

.about-page-content h1 {
  line-height: 38px;
  margin-bottom: 31px;
}

.about-page-content p {
  margin-bottom: 14px;
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
  height: 198px;
  margin-bottom: 55px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 12px 22px;
  text-decoration: none;
}
.about-page-cta .link-button:hover {
  text-decoration: underline;
  transform: translate(1px, 1px);
}
/****vans-page****/
.van-list-container {
  padding-inline: 23px;
  background-color: #FFF7ED;
  
}
.vans{
  background-color: #FFF7ED;
  color: #161616;
  padding-bottom: 55px;

}
.vans h1{
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 23px;

}
.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
}
.vans p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;

}
.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
  cursor: pointer;
 
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
  cursor: pointer;
 
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
  cursor: pointer;
 
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
  margin-top: 10px;
}
/*****van-details*****/
.van-detail-container {
  padding: 27px;
  background-color: #FFF7ED;
}


.back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  gap: 4px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
}
.back-btn:hover {
  text-decoration: none;
}
.van-detail-container .back-btn p{
  text-decoration: none;
}
.van-detail-container .back-btn span {
  text-decoration: underline;
}


.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;

}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 22px;

}
/****host navbar****/
.host-nav{
  background-color: #FFF7ED;
  text-decoration: none;
  display: flex;
  gap: 28px;
}
.host-nav a{
  color: #4D4D4D;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 5px 20px;
  margin-left: 26px; 
}
.host-nav a:hover {
  text-decoration: underline;
  color: #161616;
  font-weight: 900px
}




