*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  margin: 0px ;
  padding: 0px ;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}

.App {
  padding:0;
  margin:0;
  text-align: center;
  background-color: #FFF7ED;
  font-family: "Inter", sans-serif;
}
body::-webkit-scrollbar {
  display: none;
  background-color: #FFF7ED;
}
body {
  padding:0;
  margin:0;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/****header****/
.nav{
  background-color: black;
  color: white;
}
a.my-nav{
  font-weight: 700;
  text-decoration: underline;
  color: #161616;
}
header {
  background-color: #FFF7ED;
  min-height: 112px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: black;
  margin-bottom: none;
}
.homeLink{
  color: black;
  text-decoration: none;
  margin-left: 26px;
  font-size: 26px;
  font-weight: 900;
}
.home-navbar{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 26px;
  margin-right: 26px;

}
.aboutLink{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.vansLink{
  color: black;
  text-decoration: none;
  font-size: 16px;
}
header a:hover {
  color: #161616;
  text-decoration: underline;
}
/****footer****/
.footer{
    background-color: #161616;
    color: #AAAAAA;
    height: 74px;
    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    font-weight: 500;
    margin-bottom: none;
    margin-top: auto;
   
}
.foot > h1{
  margin: 0;
  padding: 0;
}
/****home****/
.home{
  background-image: url("/public/homepage.png");
  background-size: cover;
  height: 100vh;
  margin: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  min-height: 350px;
  background-repeat: no-repeat;
  background-size: cover;
 
}

.home > h1{
  font-size: 36px;
  padding-top: 65px;
  font-weight: 700;
  margin-bottom: 22px;
  
}
.home > p{
  font-size: 16px;
  font-weight: 500;
  padding-bottom: 51px;
}

.find-btn{
  text-decoration: none;
  text-align: center;
  background-color: #FF8C38;
  color: white;
  font-size: 16px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  padding: 10px 0px;
  margin: 0px 26px;
  
}
.find-btn:hover {
  transform: translate(1px, 1px);
}

/****about****/
.about-img{
  background-size: cover;
  height: 233px;
  margin: none;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.about > img{
  width: 100%;
  height: 100%;
}
.about-page-content {
  padding-inline: 23px;
  color: #161616;
  margin-bottom: 55px;
  text-align: left;
  margin-top: 48px;
}
.about{
  background-color: #FFF7ED;
}

.about-page-content h1 {
  line-height: 38px;
  margin-bottom: 31px;
}

.about-page-content p {
  margin-bottom: 14px;
  line-height: 22px;
}

.about-page-cta {
  background-color: #FFCC8D;
  color: #161616;
  padding-inline: 32px;
  padding-bottom: 32px;
  margin-inline: 27px;
  border-radius: 5px;
  height: 198px;
  margin-bottom: 55px;
}

.about-page-cta h2 {
  margin: 0;
  padding-block: 37px;
}

.about-page-cta .link-button {
  background-color: #161616;
  color: white;
  border-radius: 10px;
  padding: 12px 22px;
  text-decoration: none;
}
.about-page-cta .link-button:hover {
  text-decoration: underline;
  transform: translate(1px, 1px);
}
/****vans-page****/
.van-list-container {
  padding-inline: 23px;
  background-color: #FFF7ED;
  
  min-height: 100px;
}

.vans{
  background-color: #FFF7ED;
  color: #161616;
  padding-bottom: 55px;
  min-height: 100px;

}
.van-list-filter-buttons{
  display: flex;
  gap: 20px;
  margin-bottom: 55px;
  margin-left: 26px;

}
.vans h1{
  background-color: #FFF7ED;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 23px;

}
.van-list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 34px;
}
.vans p{
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 14px;

}
.van-tile a {
  color: #161616;
  text-decoration: none;    
}

.van-tile img {
  max-width: 100%;
  border-radius: 5px;
}

.van-list-container button {
  margin-right: 20px;
  cursor: pointer;
}

.van-type {
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  background-color: #FFEAD0;
  color: #4D4D4D;
  transition: 200ms all cubic-bezier(0.4, 0, 0.2, 1);
}

.van-type:hover {
  color: #FFEAD0;
}

.van-type:focus {
  outline: none;
}

.van-type.selected {
  color: #FFEAD0;
}

.van-type.simple:hover, .van-type.simple.selected {
  background-color: #E17654;
  cursor: pointer;
}

.van-type.rugged:hover, .van-type.rugged.selected {
  background-color: #115E59;
  cursor: pointer;
 
 
}

.van-type.luxury:hover, .van-type.luxury.selected {
  background-color: #161616;
  cursor: pointer;
 
}

.van-type.clear-filters {
  margin-left: -20px;
  height: 34px;
  padding: 6px 26px;
  font-style: normal;
  font-weight: 500;
  border: none;
  border-radius: 5px;
  text-decoration: underline;
  background-color: transparent;
  color: #4D4D4D;
}

i[class*='van-type-'] {
  padding: 7px 14px;
  margin-top: 10px;
}
/*****van-details*****/
.van-detail-container {
  padding: 27px;
  background-color: #FFF7ED;
}


.back-btn {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  text-decoration: none;
  gap: 4px;
  color: #161616;
  font-size: 16px;
  font-weight: 500;
}
.back-btn:hover {
  text-decoration: none;
}
.van-detail-container .back-btn p{
  text-decoration: none;
}
.van-detail-container .back-btn span {
  text-decoration: underline;
}


.van-detail {
  display: flex;
  flex-direction: column;
  color: #161616;
}

.van-detail img {
  border-radius: 5px;
  margin-block: 47px;

}

.van-detail h2 {
  font-size: 2rem;
  margin-bottom: 10px;
  margin-top: 20px;
}

.van-detail > i {
  align-self: flex-start;
}

.van-detail .van-price {
  font-size: 1.25rem;
  margin-bottom: 10px;
}

.van-detail .van-price span {
  font-weight: 700;
  font-size: 1.5rem;
}

.van-detail .link-button {
  background-color: #FF8C38;
  color: white;
  font-size: 1.125rem;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-top: 22px;

}
/****host navbar****/
.host-nav{
  background-color: #FFF7ED;
  display: flex;
}
.host-nav a{
  color: #4D4D4D;
  text-decoration: none;
  font-weight: 500;
  padding: 5px 18px;

}
.host-nav a:hover {
  text-decoration: underline;
  color: #161616;
  font-weight: 900px
}
/****host vans****/

.host-van-link-wrapper {
  color: unset;
  text-decoration: unset;
  display: flex;
}

.host-van-link-wrapper > img {
  height: 70px;
  border-radius: 5px;
  margin-right: 17px;
}
.host-vans-list {
  padding-inline: 26px;
}

.host-vans-title {
  padding-inline: 26px;
  background-color: #FFF7ED;
 padding-bottom: 66px;
}
.host-vans-title img{
  height: 66px;
  border-radius: 5px;
  margin-right: 10px;
  margin-bottom: 10px;
}
.host-vans-title >h1{
  padding-top: 55px;
  margin-bottom: 32px;
}

.host-van-single {
  display: flex;
  align-items: center;
  background-color: white;
  margin-bottom: 15px;
  padding-block: 18px;
  padding-left: 24px;
}
.host-van-info p {
  margin-block: 10px;
}
/****host van details****/
.back-btn{
  text-decoration: none;
  color: #161616;
}
.host-van-detail-container{
  padding-top: 61px;
  padding-inline: 26px;
  background-color: #FFF7ED;
  padding-bottom: 55px;
  min-height: 100vh;
}
.detailhost-van{
  display: flex;
  color: #161616;
  background-color: white;
}
.detailhost-van img{
  border-radius: 5px;
   margin-top: 23px;
   margin-left: 25px;
   height: 160px;
   margin-right: 20px;
}
.host-van-list{
  padding-top: 47px;
  padding-bottom: 55px;
}
.host-van-list h2{
  margin-top: 24px;
  margin-bottom: 5px;
  font-size: 16px;
  font-weight: 700;
}
.host-van-list span{
  font-size: 16px;
  font-weight: 700;
}
.details-vans{
  background-color: white;
}
.details-vans a{
  margin-left: 25px;
  font-size: 16px;
  text-decoration: none;
  color: #4D4D4D;
  font-weight: 500;
}
.details-vans a:hover{
  text-decoration: underline;
  color: #161616;
  font-weight: 700;
}
/****host van id  detail******/
.host-id-detail{
  margin-left: 25px;
  padding-top: 27px;
  padding-bottom: 25px;
}
.host-id-detail p{
  font-size: 16px;
  font-weight: 500;
  padding: 12px;
}
/******van photos *****/
.van-photos img{
  height: 160px;
  border-radius: 10px;
  margin-left: 25px;
  padding: 29px;
}
/******van pricing *****/
.van-pricing{
  padding-top: 44px;
  margin-left: 25px;
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 47px;
}
/******page not found *****/
.notfound{
  background-color: #FFF7ED;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  min-height: 80vh;
}
.notfound h1{
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 29px;
}
.notfound button{

  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: #161616;
  border-radius: 5px;
  border: none;
  padding: 16px 55px;
  margin-left: 26px;
  margin-right: 26px;
}
/****login page****/
.login-link img{
    height: 20px;
    border-radius: 5px;
}
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #FFF7ED;
  min-height: 80vh;
  padding-top: 50px;
}
.login-container h1{
  margin-bottom: 22px;
  font-size: 36px;
  font-weight: 700;
}

.login-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;    
}

.login-form > input {
  border: 1px solid rgba(209, 213, 219);
  height: 40px;
  text-indent: 10px;
  font-family: "Inter", sans-serif;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  font-weight: 400;
}

.login-form > input:focus {
  outline: none;
}

.login-form > input:first-of-type {
  border-radius: 6px 6px 0px 0px;
}

.login-form > input:last-of-type {
  border-radius: 0px 0px 6px 6px;
  border-top: none;
}

.login-form > button {
  background-color: #FF8C38;
  border: none;
  border-radius: 6px;
  height: 55px;
  margin-top: 22px;
  color: white;
  font-family: "Inter", sans-serif;
}
.login-form > button:hover {
  transform: translate(1px, 1px);
}

.login-first {
  color: red;
}
/*****dashboard*****/
.dash{
  background-color: #FFF7ED;
  min-height: 80vh;
  padding-top: 45px;
}
.top h2{
  margin-bottom: 30px;
}
.top a{
  text-decoration: none;
  color: #161616;
  font-weight: 700;

}
.host-dashboard-earnings {
  background-color: #ffead0;
  padding: 37px 26px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-earnings > .info > h1 {
  font-size: 36px;
  color: #161616;
  margin: 0;
}

.dash-view a{
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  color: #161616; 
  align-items: right;
  padding-right: 9px;
}
.dash-view a:hover{
  text-decoration: underline;
  color: #161616;
  font-weight: 700;
}
.host-van-single a{
 padding-left: 60px;
}
.host-dashboard-earnings > .info > p {
  color: #4d4d4d;
}

.host-dashboard-earnings > .info > p > span {
  text-decoration: underline;
  font-weight: bold;
}

.host-dashboard-earnings > .info > h2 {
  margin: 0;
  font-size: 38px;
  color: #161616;
  font-weight: 900;

}
.host-dashboard-earnings a{
  text-decoration: none;
  color: #161616;
  font-weight: 700;
}

.host-dashboard-reviews {
  background-color: #ffddb2;
  padding: 25px 26px;
  display: flex;
  align-items: center;
}

.host-dashboard-reviews > h2 {
  margin: 0;
}

.host-dashboard-reviews .star {
  color: #ff8c38;
  margin-left: 15px;
  font-size: 25px;
}

.host-dashboard-reviews p {
  margin-left: 5px;
  font-size: 20px;
  color: #4d4d4d;
  margin-right: auto;
}

.host-dashboard-reviews p > span {
  font-weight: bold;
  color: #161616;
}
.host-dashboard-reviews a{
  text-decoration: none;
  color: #161616;
  font-weight: 700;
}

.host-dashboard-vans {
  padding: 38px 26px;
}

.host-dashboard-vans > .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.host-dashboard-vans .host-vans-list {
  padding-inline: 0;
}
/****host income****/
.host-income {
  color: #161616;
  background-color: #FFF7ED;
  min-height: 100vh;
  padding-bottom: 62px;
  padding-left: 27px;
  padding-right: 27px;
}
.host-income > img {
  padding-top: 57px;
}

.host-income > p {
  margin-bottom: 31px ;
  color: #4d4d4d;
}

.host-income > p span {
  text-decoration: underline;
  font-weight: bold;
}
.host-income h1{
  padding-top: 55px;
  margin-bottom: 32px;
  font-size: 36px;
  font-weight: 700;

}

.host-income > h2 {
  font-size: 38px;
  color: #161616;
  font-weight: 900;
}

img.graph {
  width: 100%;
  max-width: 500px;
}

.host-income .info-header{
  color: #4d4d4d;
  display: flex;
  justify-content: space-between;
  padding-bottom: 31px;
  padding-top: 62px;
}

.host-income .info-header > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-income .info-header > h3 {
  font-weight: 700;
  font-size: 24px;
  color: #161616;

}

.host-income .transaction {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  margin-bottom: 31px;
  padding: 35px 29px;
  border-radius: 6px;
}
.host-income .transaction > h3 {
  font-size: 36px;
  font-weight: 600;
  margin: 0;
}

.host-income .transaction > p {
  font-weight: 500;
  font-size: 20px;
  color: #4d4d4d;
}
/*****host reviews*****/
.host-reviews {
  padding-top: 26px;
  color: #161616;
  background-color: #FFF7ED;
  min-height: 80vh;
  padding-bottom: 90px;
  padding-left: 27px;
}

.host-reviews .top-text {
  display: flex;
  align-items: center;
  margin-bottom: 32px;
}

.host-reviews .top-text > h2 {
  font-weight: 700;
  font-size: 32px;
  margin: 0;
  margin-right: 20px;
}

.host-reviews .top-text > p {
  margin: 0;
  color: #4d4d4d;
}

.host-reviews .top-text > p span {
  text-decoration: underline;
  font-weight: bold;
}

.host-reviews > img {
  margin-bottom: 36px;
}

.host-reviews .review {
  margin-block: 25px;
}

.host-reviews .review .info {
  display: flex;
}

.host-reviews .review .name {
  color: #161616;
  margin-right: 10px;
  font-weight: 600;
}

.host-reviews .review .date {
  color: #8c8c8c;
}

.host-reviews hr {
  background-color: #c7c7c7;
  height: 1px;
  border: 0;
}

.host-reviews .review-star {
  color: #ff8c38;
  margin-right: 5px;
}

